[Unit]
Description=CHEVRO Send, forked from Firefox Send
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=
Environment=BASE_URL=https://send.chevro.fr
Environment=PORT=8562
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm run prod

Restart=always

RestartSec=10

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=chevro_send

[Install]
WantedBy=multi-user.target